body {
    margin: 0;
    padding: 0;
    height:100%;
    font-family: sans-serif;
  }

  .section, .row{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .section--minimal-padding{
    padding-top: .3em !important;
  }

  
