
// Colors
$teal: #26a69a;
$coral:#FF8040;
$dark-teal:#009688;

$frame-border: 5px solid $teal;
$frame-padding: 1px;
$frame--element-border: 3px solid white;
$frame-border-radius: 5px;


$filter-frame-border:1px solid $teal;
$thin-white-border:1px solid white;