.filter-frame{

    border: $frame-border;
    border-radius: $frame-border-radius;
}

.filter-frame__title{
    font-size: 200%;
    font-weight: 500;
    background: $teal;
    color: white;
}

.filter-frame__sub-title{
    border-bottom: $filter-frame-border;
}

.filter-frame--hidden{
    display: none;
}

@media(max-width:600px){
    .filter-frame__sub-title{
        border-bottom: 0;
        background: $dark-teal;
        margin: 0;
        padding:5px;
        color: white;
    }

    .filter-frame--hidden{
        display: block;
    }
}

@media(max-width:400px){
    .filter-frame__title{
        font-size: 130%;
        
        margin: 0;
        padding:0;
        
    }
}