.frame{
    width: 100%;
    margin:0 !important;
    border-top: $frame-border;
    border-bottom: $frame-border;
    padding-top: $frame-padding !important;
    padding-bottom: $frame-padding !important;
    border-radius: $frame-border-radius;
    background-color: $teal;
}

.frame__element{
    display: inline-block;
    width: 30%;
    margin:0;
    font-size: 130%;
    line-height: auto;
    font-weight: 500;
}

.frame--text-coral{
    color: $coral !important; 
}

.frame__title{
    font-size: 200%;
    font-weight: 500;
    color: white;
}

.frame--margin-minimal{
    margin: .2em;
}

.frame__subtilte{
    font-size: 180%;
    font-weight: 500;
    color: white;
}

.frame__graph{
    background: white;
    color:coral;
}


.frame__element--border{
    border-left: $frame--element-border
}

@media(max-width: 992px){
    .frame__element--border{
        border-left: 0;
        border-top: $thin-white-border;
    }
}

@media(max-width: 500px){
    .frame__element{
        font-size: 1.15rem  !important;
    }
}



